<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="in" class="vMachineView.userIOimpl"/>
    <bean id="dao" class="vMachineDAO.vmDaoImpl"/>
    <bean id="audit" class="vMachineDAO.vmAudit" />
    
    <bean id="view" class="vMachineView.vMachineView">
        <constructor-arg ref="in"/>
    </bean>
    <bean id="service" class="vMachineSL.vmServiceLayer">
        <constructor-arg ref="dao"/>
        <constructor-arg ref="audit"/>
    </bean>
    <bean id="controller" class="vMachineController.vMachineController">
        <constructor-arg ref="service" />
        <constructor-arg ref="view" />
    </bean>
    
</beans>




